<!DOCTYPE html>
<html lang="en" ng-app="pageApp">

<head>
    <meta charset="UTF-8">
    <title>User Registration Page</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>

<body ng-cloak="true">
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="pageAppCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        
        <h1>USER REGISTRATION PAGE</h1>
       
        <form ng-show="!ctrl.isSubmitted" name="ctrl.registrationform" 
        ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
            
            <div class="form-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="text" placeholder="abc@domain.com" class="form-control" 
                ng-model="ctrl.user.email" ng-pattern="ctrl.emailFormat" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is required
                    </div>
                    <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid
                    </div>
                </div>
            </div>

            <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="min 8 characters" class="form-control" 
                    ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.password.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Password is required
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Password must be at least 8 character long.
                        </div>
                        <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Password must include special characters (!@#$%^&*), alphanumeric and both uppercase & lowercase.
                        </div>
                    </div>
            </div>
         
            <div class="form-group">
                    <label for="fullName">Full Name</label> 
                    <input id="fullName" name="fullName" type="text" placeholder="John Doe" class="form-control" 
                    ng-model="ctrl.user.fullName" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.fullName.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.fullName.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Name  is required
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="gender">Gender</label>
                    <br/>
                    <input id="gender" name="gender" type="radio" 
                    ng-model="ctrl.user.gender"  value="M" ng-required/>Male
                    <br/>
                    <input id="gender" name="gender" type="radio" 
                    ng-model="ctrl.user.gender"  value="F" ng-required/>Female
                    <!-- <div class="validation"  data-ng-show="ctrl.registrationform.gender.$untouched" >
                        <span class="glyphicon glyphicon-alert"></span> Gender selection is required
                    </div> -->
            </div>

            <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input id="dob" name="dob" type="date" class="form-control"
                    ng-model="ctrl.user.dob" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.dob.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.dob.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Date of Birth is required
                        </div>
                        <div data-ng-show="!ctrl.isLegalAge()">
                            <span class="glyphicon glyphicon-alert"></span> Must be 18 years and above
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" type="text" class="form-control"
                    ng-model="ctrl.user.address" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.address.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.address.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Address  is required
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="country">Country of Origin</label>
                    <select id="country" name="country" class="form-control" 
                    ng-model="ctrl.user.selectedCountry"/>
                        <option ng-repeat="country in ctrl.countries" value="{{country.value}}" required>{{country.name}}</option>
                    </select>
                    <div class="validation" data-ng-show="ctrl.registrationform.selectedCountry.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.selectedCountry.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Country of Origin is required
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="contactNumber">Contact Number</label>
                    <input id="contactNumber" name="contactNumber" type="text" class="form-control" 
                    ng-model="ctrl.user.contactNumber" ng-pattern="ctrl.contactFormat" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.contactNumber.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.contactNumber.$error.required">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is required
                            </div>
                            <div data-ng-show="ctrl.registrationform.contactNumber.$error.number">
                                    <span class="glyphicon glyphicon-alert"></span> Contact Number is invalid
                            </div>
                    </div>
            </div>

            <div class="form-group">
                <hr/>
                <input id="submit" name="submit" type="submit" class="btn btn-success"
                ng-disabled="ctrl.registrationform.$invalid"/>
                <button type="reset" ng-click="ctrl.onReset()" class="btn btn-default">Reset</button>
            </div>
                
        </form>

        <div data-ng-controller="RegistrationCtrl as ctrl2" data-ng-show="ctrl.isSubmitted"> THANK YOU ! {{ctrl2.fullname}}</div>

    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script src="js/app.module.js"></script>
    <script src="js/app.service.js"></script>
    <script src="js/app.controller.js"></script>
    
</body>

</html>